<h2> Add your band to our awesome website </h2>
<form action="/bands" method="post">
  <label for="band_name"> Band Name
  <input type="text" name="band[name]" value="<%=@band.name%>">
  </label>
  <input type="submit" value="Submit">
</form>
