body{
  margin: 0 auto;
  padding-top: 10px;
}

/* .my_image{
  position:absolute;
  top: 200px;
  max-height: 150px;
max-width: 200px;
width: 120px;
height: 120px;
} */

.mynav{
  display: flex;
  padding-top:  10px;
  border: 1px solid lightgray;


}

.thisbox{

  background-image: url(./splash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 600px;
  width: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.thisbox p{
  position: relative;
  top: 200px;
}



.left li{
  display: inline;
  padding-right: 30px;
  position: relative;
  left: 80px;

}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  background: gray;
}

.right li{
  display: inline;
  position: relative;
  left: 400px;
  padding-right: 30px;

}

.user{
  position:relative;
  left:250px;
}
